.sidebar-bg {
  background-image: url(assets/public/images/content-rectangle.jpg);
  background-size:  100% 100%;

  .widget {
    &-area {
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      max-width: 1040px;
      padding: 50px 0;
    }
    &_recent_entries {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      text-align: center;
      ul {
        width: 100%;
      }
    }
    &_search {
      align-items: center;
      display: flex;
    }
    &-title {
      margin-bottom: 45px;
    }
  }
}