.main-content.-about {
  .secondary-info-container {
    @extend .bg-bottom-triangle;
    height: auto;
    padding-top: 260px;
    padding-bottom: 30px;
  }

  .container {
    justify-content: space-between;
  }

  .secondary-info {
    width: 45%;
    margin: 20px 0 15px 0;
    .title {
      margin-bottom: 15px;
      color: #cccbcb;
    }
    .text {
      color: #9E9E9E;
      line-height: 22px;
    }
  }

  .heading {
    margin-bottom: 14px;
  }
}